In [1]:


import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from scipy.stats import norm
from scipy import stats
import sklearn
import plotly.plotly as py
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.datasets import make_moons, make_circles, make_classification
from sklearn.neural_network import MLPClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.gaussian_process import GaussianProcessClassifier
from sklearn.gaussian_process.kernels import RBF
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.discriminant_analysis import QuadraticDiscriminantAnalysis
def join_two_datasets(df, other_df, fields):

    df['fips'] = df['fips'].astype(int)
    other_df['fips'] = other_df['fips'].astype(int)
    return pd.merge(df, other_df, on=fields)

def read_csv(df_name):
    return pd.read_csv(df_name + '_processed.csv')

df_chemicals = read_csv('chemicals')
df_droughts = read_csv('industry_occupation')
print('load csv')
df_main = join_two_datasets(df_chemicals, df_droughts, 'fips')
print(df_main.columns)
df_main.head()

load csv
Index(['cws_name', 'chemical_species', 'contaminant_level', 'county_x',
       'pws_id', 'pop_served', 'state', 'unit_measurement', 'value', 'year_x',
       'fips', 'state_fips', 'geo_id', 'county_y', 'total_employed',
       'agriculture', 'construction', 'manufacturing', 'wholesale_trade',
       'retail_trade', 'transport_utilities', 'information',
       'finance_insurance_realestate', 'prof_scientific_waste', 'edu_health',
       'arts_recreation', 'other', 'public_admin', 'year_y'],
      dtype='object')

,cws_name,chemical_species,contaminant_level,county_x,pws_id,pop_served,state,unit_measurement,value,year_x,...,retail_trade,transport_utilities,information,finance_insurance_realestate,prof_scientific_waste,edu_health,arts_recreation,other,public_admin,year_y
0,CALIFORNIA WATER SERVICE - LIVERMORE,Uranium,0,Alameda,CA0110003,57200,California,micrograms/L,1.54,2000,...,71978.0,37659.0,21330.0,40478.0,113728.0,157244.0,56708.0,35947.0,28049.0,2010
1,CALIFORNIA WATER SERVICE - LIVERMORE,Uranium,0,Alameda,CA0110003,57200,California,micrograms/L,1.54,2000,...,71929.0,39524.0,21455.0,45204.0,111334.0,162364.0,68460.0,37458.0,25306.0,2011
2,CALIFORNIA WATER SERVICE - LIVERMORE,Uranium,0,Alameda,CA0110003,57200,California,micrograms/L,1.54,2000,...,74141.0,32068.0,22626.0,45107.0,126063.0,170045.0,71294.0,38390.0,25963.0,2012
3,CALIFORNIA WATER SERVICE - LIVERMORE,Uranium,0,Alameda,CA0110003,57200,California,micrograms/L,1.54,2000,...,80081.0,37923.0,22424.0,47494.0,131794.0,172876.0,64363.0,36613.0,26784.0,2013
4,CALIFORNIA WATER SERVICE - LIVERMORE,Uranium,0,Alameda,CA0110003,57200,California,micrograms/L,1.54,2000,...,75990.0,38439.0,26613.0,49106.0,139503.0,178747.0,76076.0,44163.0,29184.0,2014

In [3]:
df_ma = join_two_datasets(df_main, read_csv('earnings'), fields='fips')
print(df_ma.columns)
df_ma.head()

Index(['cws_name', 'chemical_species', 'contaminant_level', 'county_x',
       'pws_id', 'pop_served', 'state', 'unit_measurement', 'value', 'year_x',
       'fips', 'state_fips', 'geo_id_x', 'county_y', 'total_employed',
       'agriculture', 'construction_x', 'manufacturing_x', 'wholesale_trade_x',
       'retail_trade_x', 'transport_utilities', 'information_x',
       'finance_insurance_realestate', 'prof_scientific_waste', 'edu_health',
       'arts_recreation', 'other', 'public_admin', 'year_y', 'geo_id_y',
       'county', 'total_med', 'total_agri_fish_mine', 'agri_fish_hunt',
       'mining_quarrying_oilgas_extract', 'construction_y', 'manufacturing_y',
       'wholesale_trade_y', 'retail_trade_y', 'transport_warehouse_utilities',
       'transport_warehouse', 'utilities', 'information_y', 'fin_ins_realest',
       'fin_ins', 'realest_rent_lease', 'total_prof_sci_mgmt_admin',
       'prof_sci_tech', 'mgmt', 'admin_sup', 'total_edu_health_social',
       'edu_serv', 'health_social', 'total_arts_ent_acc_food', 'arts_ent_rec',
       'acc_food_serv', 'other_ser', 'pub_admin', 'year'],
      dtype='object')

,cws_name,chemical_species,contaminant_level,county_x,pws_id,pop_served,state,unit_measurement,value,year_x,...,admin_sup,total_edu_health_social,edu_serv,health_social,total_arts_ent_acc_food,arts_ent_rec,acc_food_serv,other_ser,pub_admin,year
0,CALIFORNIA WATER SERVICE - LIVERMORE,Uranium,0,Alameda,CA0110003,57200,California,micrograms/L,1.54,2000,...,27106,41162.0,40419,41779,19476,25036,17871,26961,65466,2010
1,CALIFORNIA WATER SERVICE - LIVERMORE,Uranium,0,Alameda,CA0110003,57200,California,micrograms/L,1.54,2000,...,27328,42171.0,41478,42892,19561,25636,18246,27125,69809,2011
2,CALIFORNIA WATER SERVICE - LIVERMORE,Uranium,0,Alameda,CA0110003,57200,California,micrograms/L,1.54,2000,...,27852,42632.0,41579,43571,19696,25983,18414,27304,68787,2012
3,CALIFORNIA WATER SERVICE - LIVERMORE,Uranium,0,Alameda,CA0110003,57200,California,micrograms/L,1.54,2000,...,27410,43094.0,41756,44151,19830,25676,18385,26796,68604,2013
4,CALIFORNIA WATER SERVICE - LIVERMORE,Uranium,0,Alameda,CA0110003,57200,California,micrograms/L,1.54,2000,...,27770,42805.0,41688,43733,19521,25235,18111,26815,67752,2014

In [13]:
train_test = df_ma[['value', 'year', 'total_med', 'agriculture', 'total_employed', 'chemical_species']]
print(train_test.columns)
print(train_test.head())

Index(['value', 'year', 'total_med', 'agriculture', 'total_employed',
       'chemical_species'],
      dtype='object')
   value  year  total_med  agriculture  total_employed chemical_species
0   1.54  2010      42407       1936.0        699389.0          Uranium
1   1.54  2011      42989       1936.0        699389.0          Uranium
2   1.54  2012      43708       1936.0        699389.0          Uranium
3   1.54  2013      43769       1936.0        699389.0          Uranium
4   1.54  2014      43528       1936.0        699389.0          Uranium

In [14]:
print(len(train_test))

27160854

In [15]:
from sklearn import tree
clf = tree.DecisionTreeClassifier()
train_test = train_test.dropna()
print(1)

1

In [16]:
train_final = train_test.astype(int)
print(1)

ValueError: invalid literal for int() with base 10: 'Uranium'

In [ ]:
X = train_test[['total_employed', 'year', 'total_med', 'agriculture', 'value']]
X = X.astype(int)
Y = train_test[['chemical_species']]
print(2)
clf = clf.fit(X, Y)
print(1)

2

In [ ]:
from sklearn.externals.six import StringIO  
from IPython.display import Image  
from sklearn.tree import export_graphviz
import pydotplus
dot_data = StringIO()
export_graphviz(dtree, out_file=dot_data,  
                filled=True, rounded=True,
                special_characters=True)
graph = pydotplus.graph_from_dot_data(dot_data.getvalue())  
Image(graph.create_png())